html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	width: 100%;
	z-index: 10;
}

#infoBox {
    position: fixed;
    bottom: 20px;
    height: 20px;
    width: 100%;
    background-color: rgba(0,60,136,.5);
    color: #FFF;
    z-index: 100;
}

#coordinatesBox {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(0,60,136,.5);
    color: #FFF;
    z-index: 100;
}

.ol-scale-line {
	z-index: 200;
	bottom: 2px;
	left: 200px;
	background: none;
}


.ol-logo-only {
	display: none;
}

#layersBox {
    position: fixed;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(0,60,136,.5);
    color: #FFF;
    z-index: 1000;
    padding-left: 5px;
    overflow: auto;
    bottom: 40px;
    display: none;
}

.ol-touch {
  top: 80px;
}

.custom-control-button {
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.layers-box-control {
	top: 65px;
	left: .5em;
}

.measure-tool-control {
	top: 96px;
	left: .5em;
}

.draw-tool-control {
	top: 8px;
	left: 40px;
    width: auto;
}

.control-button, .control-button, .control-button {
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.draw-tool-button {
}

.ruler-icon {
	background-image: url(/img/icon/ruler.png);
}

.polygon-icon {
	background-image: url(/img/icon/polygon.png);
}

.linestring-icon {
	background-image: url(/img/icon/linestring.png);
}

.layers-icon {
	background-image: url(/img/icon/layers.png);
}

.broom-icon {
	background-image: url(/img/icon/dot-and-circle.png);
}

.point-icon {
	background-image: url(/img/icon/dot-and-circle.png);
}

.broom-icon {
	background-image: url(/img/icon/broom.png);
}

.pencil-icon {
	background-image: url(/img/icon/pencil.png);
}
