html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#map {
	height: 100%;
	width: 100%;
	z-index: 10;
}

#infoBox {
    position: fixed;
    bottom: 20px;
    height: 20px;
    width: 100%;
    background-color: #809ec4;
    color: #FFF;
    z-index: 1000;
}

#coordinatesBox {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #809ec4;
    color: #FFF;
    z-index: 1000;
}

.ol-scale-line {
	z-index: 200;
	bottom: 2px;
	left: 200px;
	background: none;
}


.ol-logo-only {
	display: none;
}

#layersBox {
    position: fixed;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(0,60,136,.5);
    color: #FFF;
    z-index: 1000;
    padding-left: 5px;
    overflow: auto;
    bottom: 40px;
    display: none;
}

.ol-touch {
  top: 80px;
}

.custom-control-button {
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.layers-box-control {
	top: 8px;
	left: 98px;
}

.measure-tool-control {
	top: 8px;
	left: 68px;
}

.draw-tool-control {
	top: 8px;
	left: 38px;
    width: auto;
}

.control-button, .control-button, .control-button {
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}

.draw-tool-button {
}

.ruler-icon {
	background-image: url(/img/icon/ruler.png);
}

.polygon-icon {
	background-image: url(/img/icon/polygon.png);
}

.linestring-icon {
	background-image: url(/img/icon/linestring.png);
}

.layers-icon {
	background-image: url(/img/icon/layers.png);
}

.broom-icon {
	background-image: url(/img/icon/dot-and-circle.png);
}

.point-icon {
	background-image: url(/img/icon/dot-and-circle.png);
}

.broom-icon {
	background-image: url(/img/icon/broom.png);
}

.pencil-icon {
	background-image: url(/img/icon/pencil.png);
}

#legendImage {
	background-color: #CCC;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 800;
	border: 5px solid #CCC;
}

/* EDIT MODE */

#layer-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}


#layer-list-element {
	float: left;
	display: block;
	width: 100%;
}

.selected-layer-list-element {
	background-color: rgba(230,230,230,.5);
}

#geometryFormBox {
    position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: #b48484;
	top: 0;
	left: 0;
	display: none;
}
